{{! Footer Section  }}
<footer>
  <div
    class="bg-custom-color-1 text-white px-6 lg:px-8 py-12 flex flex-col justify-center items-center"
  >
    <div class="motto mb-12 text-custom-color-3 text-center">"Empowering
      decisions through simple, structured insights."</div>
    <div class="social-medias flex mb-14 gap-5 text-custom-color-3">
      <div><i
          class="fa-brands fa-linkedin-in hover:text-white text-lg"
        ></i></div>
      <div><i class="fa-brands fa-github hover:text-white text-lg"></i></div>
    </div>
    <div class="details flex sm:gap-44 flex-col gap-12 text-center sm:flex-row">
      <div class="text-sm">
        <h3 class="font-semibold mb-6">Information</h3>
        <div class="text-custom-color-3 flex flex-col gap-4">
          <a href=""><div class="hover:text-white">About Us</div></a>
          <a href=""> <div class="hover:text-white">Privacy Policy</div></a>
          <a href=""><div
              class="hover:text-white"
              class="hover:text-white"
            >Terms of service</div></a>
        </div>
      </div>
      <div class="text-sm">
        <h3 class="font-semibold mb-6">Navigation</h3>
        <div class="text-custom-color-3 flex flex-col gap-4">
          <a href=""><div class="hover:text-white">User footer</div></a>
          <a href=""><div class="hover:text-white">Home</div></a>
          <a href=""><div class="hover:text-white">Features</div></a>
          <a href=""><div class="hover:text-white">Contact us</div></a>
        </div>
      </div>
    </div>
    <div class="border-custom-color-4 h-16 w-full border-b-custom-thin-1"></div>
    <div class="copy-right text-custom-font-12 mt-8 text-custom-color-4">&#169;
      2024. All rights reserved.</div>
  </div>
</footer>