<div class="project">

  {{! Navbar  }}
  <nav class="bg-custom-color-1">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-32 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button
            type="button"
            class="menu-btn relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white"
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
            <svg
              class="block h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
            <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
            <svg
              class="hidden h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div
          class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between"
        >
          <div class="flex flex-shrink-0 items-center">
            <h1 class="text-white font-bold text-3xl">SurveyNest</h1>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a
                href="#"
                class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white"
                aria-current="page"
              >Home</a>
              <a
                href="#"
                class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white"
              >Login</a>
              <a
                href="#"
                class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white"
              >Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a
          href="#"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
          aria-current="page"
        >Home</a>
        <a
          href="#"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >Login</a>
        <a
          href="#"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >Register</a>
      </div>
    </div>
  </nav>

  {{! Hero Section  }}
  <section>
    <div class="bg-custom-img bg-cover">
      <div class="relative px-6 pt-14 lg:px-8">
        <div
          class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true"
        >
        </div>
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="text-center">
            <h1
              class="hero-heading text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
            >Your Survey Solution, Simplified</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Create surveys with
              a few clicks and get comprehensive results fast. Perfect for
              businesses, educators, and researchers looking for straightforward
              feedback solutions</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a
                href="#"
                class="login-btn bg-custom-color-1 hover:bg-custom-color-2 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline-2 focus-visible:outline-offset-2"
              >Login</a>
              <a
                href="#"
                class="login-btn bg-custom-color-1 hover:bg-custom-color-2 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline-2 focus-visible:outline-offset-2"
              >Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{! Features Section  }}
  <section>
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
          <h2
            class="feedback-heading text-custom-color-1 text-base font-semibold leading-7"
          >Get Feedback Fast</h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >Everything you need to create and analyze surveys</p>
          <p class="mt-6 text-lg leading-8 text-gray-600">Provides a brief
            overview of the benefits and features of the survey tool, making it
            clear what users can expect</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
          >
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div
                  class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-custom-color-1"
                >
                  <i class="fa-solid fa-list-ul text-white"></i>
                </div>
                Survey Management
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Easily create,
                edit and organize surveys with diverse question types while
                maintaining control over all settings</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div
                  class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-custom-color-1"
                >
                  <i class="fa-solid fa-database text-white"></i>
                </div>
                Data Storage
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Securely store
                and structure all survey responses in a reliable database for
                seamless acccess and managment</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div
                  class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-custom-color-1"
                >
                  <i class="fa-solid fa-pen-nib text-white"></i>
                </div>
                Survey Customization
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Customize
                surveys with branding options like logos, colors, and themes to
                match the desired style and presentation</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div
                  class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-custom-color-1"
                >
                  <i class="fa-solid fa-shield-halved text-white"></i>
                </div>
                Data Security
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Protect
                sensitive data with robust encryption and privacy features,
                ensuring compliance and confidentiality</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </section>

  {{! Footers Section  }}
  <footer>
    <div
      class="bg-custom-color-1 text-white px-6 lg:px-8 py-12 flex flex-col justify-center items-center"
    >
      <div class="motto mb-12 text-custom-color-3 text-center">"Empowering
        decisions through simple, structured insights."</div>
      <div class="social-medias flex mb-14 gap-5 text-custom-color-3">
        <div><i
            class="fa-brands fa-linkedin-in hover:text-white text-lg"
          ></i></div>
        <div><i class="fa-brands fa-github hover:text-white text-lg"></i></div>
      </div>
      <div
        class="details flex sm:gap-44 flex-col gap-12 text-center sm:flex-row"
      >
        <div class="text-sm">
          <h3 class="font-semibold mb-6">Information</h3>
          <div class="text-custom-color-3 flex flex-col gap-4">
            <a href=""><div class="hover:text-white">About Us</div></a>
            <a href=""> <div class="hover:text-white">Privacy Policy</div></a>
            <a href=""><div
                class="hover:text-white"
                class="hover:text-white"
              >Terms of service</div></a>
          </div>
        </div>
        <div class="text-sm">
          <h3 class="font-semibold mb-6">Navigation</h3>
          <div class="text-custom-color-3 flex flex-col gap-4">
            <a href=""><div class="hover:text-white">Home</div></a>
            <a href=""><div class="hover:text-white">Features</div></a>
            <a href=""><div class="hover:text-white">Contact us</div></a>
          </div>
        </div>
      </div>
      <div
        class="border-custom-color-4 h-16 w-full border-b-custom-thin-1"
      ></div>
      <div
        class="copy-right text-custom-font-12 mt-8 text-custom-color-4"
      >&#169; 2024. All rights reserved.</div>
    </div>
  </footer>
</div>