{{! Hero Section  }}
<section>
  <div class="bg-custom-img bg-cover">
    <div class="relative px-6 pt-14 lg:px-8">
      <div
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true"
      >
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
          <h1
            class="hero-heading text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
          >Your Survey Solution, Simplified</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Create surveys with a
            few clicks and get comprehensive results fast. Perfect for
            businesses, educators, and researchers looking for straightforward
            feedback solutions</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href="/login"
              class="login-btn bg-custom-color-1 hover:bg-custom-color-2 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline-2 focus-visible:outline-offset-2"
            >Login</a>
            <a
              href="/register"
              class="login-btn bg-custom-color-1 hover:bg-custom-color-2 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline-2 focus-visible:outline-offset-2"
            >Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{! Features Section  }}
<section>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2
          class="feedback-heading text-custom-color-1 text-base font-semibold leading-7"
        >Get Feedback Fast</h2>
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >Everything you need to create and analyze surveys</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">Provides a brief
          overview of the benefits and features of the survey tool, making it
          clear what users can expect</p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
        >
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-custom-color-1"
              >
                <i class="fa-solid fa-list-ul text-white"></i>
              </div>
              Survey Management
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Easily create,
              edit and organize surveys with diverse question types while
              maintaining control over all settings</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-custom-color-1"
              >
                <i class="fa-solid fa-database text-white"></i>
              </div>
              Data Storage
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Securely store
              and structure all survey responses in a reliable database for
              seamless acccess and managment</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-custom-color-1"
              >
                <i class="fa-solid fa-pen-nib text-white"></i>
              </div>
              Survey Customization
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Customize surveys
              with branding options like logos, colors, and themes to match the
              desired style and presentation</dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-custom-color-1"
              >
                <i class="fa-solid fa-shield-halved text-white"></i>
              </div>
              Data Security
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">Protect sensitive
              data with robust encryption and privacy features, ensuring
              compliance and confidentiality</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>